.lastDiv{
    height: 10%;
    display: flex;
}

.generateButton{
    height: 100%;
    width: 100%;
    background-color: rgb(19,132,150);
    color: white;
    border: none;
    border-radius: 7px;
}