.inputContainer{
    height: 10%;
    width: 100%;
    display: flex;
}

.inputToShow{
    height: 100%;
    width: 90%;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.copyButton{
    height: 100%;
    width: 10%;
    background-color: rgb(19,132,150);
    color: white;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}